* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E3E0CF;
    cursor: default;
}

header {
    padding: 20px;
    text-align: center;
    background-color: #384348;
}

header img {
    float: left;
    width: 90px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 1%;
    margin-left: 1%;
    background-color: white;
}

header h1 {
    color: #425B5A;
    background-color: white;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}

header p {
    font-weight: bold;
    margin-left: 1%;
    padding: 20px;
    color: #333333;
    background-color: white;
    border-radius: 10px;
}

footer {
    padding-top: 20px;
    background-color: #384348;
}

.footer-upper-container {
    display: flex;
    align-items: flex-start;
    text-align: left;
    justify-content: space-evenly;
    margin: 10px 0 10px 0;
}

footer p {
    color: white;
}

.contactus h2 {
    color: #ffffff;
}

.contactus ul {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    list-style: none;
}

ul.footer-middle-col {
    list-style: none;
}

ul.footer-middle-col a {
    color: #ffffff;
}

.footer-group {
    flex: 20%;
}

.footer-group h3 {
    color: #ffffff;
}

.footer-group img {
    margin-top: 5%;
    margin-left: 20%;
    width: 70px;
}

.footer-icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icons-container a {
    margin: 3px;
}

.footer-icons-container i {
    color: #ffffff;
    padding: 13px 6px 13px 6px;
    border-radius: 3px;
    transition: 0.4s background-color, 0.6s color;
}

.footer-icons-container i:hover {
    color: #38b16c;
    background-color: #ffffff;
}

.footer-br {
    height: 2px;
    background-color: #ffffff;
    width: 85%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.footer-under-p {
    text-align: center;
}

/* ...............rating-star............ */
.fa-solid.fa-star,
.fa-regular.fa-star-half-stroke,
.fa-regular.fa-star {
    color: #384348;
}

/* ..............navigation-bar............ */
nav {
    display: flex;
    background-color: #384348;
    top: 0;
    z-index: 10;
    height: 45px;
    position: sticky;
    align-items: center;
    justify-content: center;
}

.nav-bar ul {
    list-style: none;
    display: flex;
}

.nav-bar li {
    margin: 0 30px;
}

.nav-bar li a {
    padding: 3px 10px;
    transition: 0.3s ease-in-out;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

.nav-bar li a:hover {
    cursor: pointer;
    background-color: #38b16c;
}

.float-container {
    margin-top: 20px;
    right: 5%;
    float: right;
    display: flex;
    align-items: center;
    position: sticky;
    top: 8%;
    z-index: 10;
}


/* .............MiniCart............... */
.cart-container {
    margin-top: 10px;
    position: absolute;
    width: 450px;
    overflow: hidden;
    max-height: 0;
    height: 0;
    margin-top: 8px;
    right: 0.1%;
    border-radius: 10px;
    background-color: #ffffff;
    transition: height 0.3s;
}

.cart-toggle:checked~.cart-container {
    border: 1px solid black;
    max-height: unset;
    height: 400px;
}

label.shopping-cart {
    cursor: pointer;
    font-size: 14px;
    color: #384348;
    background-color: #ffffff;
    padding: 12px 15px;
    border-radius: 5px;
    margin: 0;
    transition: 0.3s;
    border: 1px solid #384348;
}

label.shopping-cart:hover {
    background-color: #384348;
    color: #ffffff;
}

.cart-product-container {
    height: 300px;
    overflow-y: scroll;
    background-color: #eeeeee;
}

.cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #384348;
}

.cart-product img {
    width: 100px;
    height: auto;
    aspect-ratio: 1/1;
    margin: 5px;
    border-radius: 10px;
    object-fit: contain;
    background-color: #ffffff;
}

.count {
    margin: 0 5px;
    font-weight: bold;
}

.cart-product-quantity i {
    padding: 10px 5px;
    background-color: #cdcdcd;
    border-radius: 50%;
    color: #384348;
    cursor: pointer;
    transition: 0.3s;
}

.cart-product-quantity i:hover {
    background-color: #ffffff;
    color: #af0000;
}

.cart-product-details {
    text-align: center;
}

p.cart-product-name {
    width: 100px;
    color: #384348;
    font-weight: bold;
    word-wrap: break-word;
}

p.cart-product-price {
    color: #af0000;
}

.cart-product button {
    padding: 10px 15px;
    margin-right: 1%;
    border: none;
    background-color: #9e0000;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.cart-product button:hover {
    background-color: #ffffff;
    color: #ff0000;
}

.cart-checkout {
    background-color: #384348;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 98px;
}

.cart-total {
    display: flex;
    align-items: end;
}

p.p-total {
    color: #ffffff;
    font-size: 20px;
}

p.cart-total-price {
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    margin-left: 5px;
}

.cart-checkout a {
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #384348;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;
}

.cart-checkout a:hover {
    background-color: #38b16c;
    color: #ffffff;
}

.cart-toggle {
    opacity: 0;
}

/* ..................menu-button............... */

#toggle {
    display: none;
}

.menu-button {
    border: 1px solid #384348;
    border-radius: 5px;
    color: #384348;
    background-color: #ffffff;
    padding: 10px 60px;
    cursor: pointer;
    z-index: 1;
    transition: 0.4s;
    margin-left: 10px;
}

.menu-button:hover {
    color: #ffffff;
    background-color: #384348;
}

.dropdown-menu {
    display: none;
    position: absolute;
    margin-top: 10px;
    width: 197px;
    right: 0;
    background-color: #f2f2f2;
    z-index: 1;
    border: 1px solid #384348;
    border-radius: 0 0 10px 10px;
    transition: height 0.4s ease-in-out;
}

#toggle:checked~.dropdown-menu {
    display: block;
}

.dropdown-menu a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: #384348;
    transition: 0.3s color, 0.5s background-color;

}

.dropdown-menu a:hover {
    color: #ffffff;
    background-color: #38b16c;
}

a.menu-last-row:hover {
    border-radius: 0 0 10px 10px;
}

/* .............Cart............ */
h1.cart-h1 {
    text-align: center;
    color: #384348;
}

.cart-page {
    text-align: center;
    display: flex;
    justify-content: center;
}

.cart-page-container {
    margin: 20px 0;
    border: 2px solid #384348;
    border-radius: 0 0 20px 20px;
    width: 90%;
    background-color: #ffffff;
}

.cart-page-item-title-row {
    display: flex;
    margin-right: 10px;
}

.cart-page-desc-title {
    font-weight: bold;
    font-size: 24px;
    color: #384348;
    width: 20%;
}

.cart-page-row-container {
    height: 450px;
    overflow-y: scroll;
    background-color: #e4e7eb;
    justify-content: space-between;
}

.cart-page-item-row {
    display: flex;
    text-align: center;
    align-items: center;
    border-bottom: 0.5px solid #384348;
    padding: 5px 0;
}

.cart-page-item-col {
    width: 20%;
}

.cart-page-item-col img {
    width: 100px;
    height: auto;
    aspect-ratio: 1/1;
    background-color: #ffffff;
    border-radius: 10px;
    object-fit: contain;
}

.cart-page-item-name {
    word-wrap: break-word;
    margin-left: 20%;
    font-weight: bold;
    font-size: 16px;
    color: #384348;
}

.cart-page-item-quantity i {
    cursor: pointer;
    padding: 15px 8px;
    font-size: 18px;
    background-color: #ffffff;
    color: #384348;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.cart-page-item-quantity i:hover {
    background-color: #38b16c;
    color: #ffffff;
}


.cart-page-price {
    font-weight: bold;
    font-size: 18px;
    color: #878787;
}

.quantity {
    margin: 0 5px;
    font-weight: bold;
}

.cart-page-total {
    font-weight: bold;
    color: #cb0000;
    font-size: 24px;
}

.total {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    transition: 0.3s;
}

.total-col {
    width: 40%;
}

.total-1st-col-row {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    border-top: 1px solid #384348;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
}

.total-1st-col-row input {
    text-align: left;
    margin-top: 5px;
    width: 200px;
    padding: 10px;
    height: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #384348;
}

.total-row {
    margin: 5px 0;
    display: flex;
    border-top: 1px solid #384348;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
}

.total-row-right-col {
    font-weight: normal;
}

.total-row-grand {
    font-size: 26px;
}

.total-row a {
    color: #384348;
    font-weight: normal;
}

.cupon-container {
    display: grid;
    text-align: right;
}

.cupon-container label {
    text-decoration: underline;
    cursor: pointer;
}

.cupon-container input {
    max-height: 0;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}

#cupon:focus {
    max-height: 100px;
    padding: 7px 20px;
}

.cart-page-checkout {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.cart-page-checkout button {
    border-radius: 10px;
    width: 160px;
    padding: 10px;
    background-color: #38b16c;
    color: #ffffff;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    border: none;
    font-size: 16px;
    margin: 5px;
}

.cart-page-checkout a {
    color: #ffffff;
    text-decoration: none;
    width: 160px;
    padding: 10px;
    border-radius: 10px;
    background-color: #b9b9b9;
    cursor: pointer;
    margin: 5px;
}

.cart-page-checkout a:hover,
.cart-page-checkout button:hover {
    background-color: #384348;
}

/* .................search bar................... */
.input-search {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: center;
    border-radius: 10px;
}

.input-search input {
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #ffffff;
    text-align: center;
    transition: 0.3s linear;
}

.input-search input:focus {
    width: 90%;
}

.input-search ::placeholder {
    font-size: 16px;
    color: #384348;
}

.search-button {
    margin-left: 1%;
    padding: 5px;
    border-radius: 10px;
    color: #384348;
    cursor: pointer;
    transition: 0.3s;
}

.search-button:hover {
    color: #ffffff;
    background-color: #38b16c;
}

/* ............home.............. */
.home-cart {
    position: sticky;
    float: right;
    top: 0;
    z-index: 10;
    margin-right: 10%;
    padding: 10px;
}

.home-cart a {
    text-decoration: none;
    background-color: #ffffff;
    color: #384348;
    padding: 9px;
    border: 1px solid #384348;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.home-cart a:hover {
    color: #ffffff;
    background-color: #384348;
}

.row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(images/camp-gear.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 160px 10px;
    height: auto;
    width: 100%;
    transition: 0.4s ease-in-out;
}

.column {
    width: 700px;
}

.column-object-container {
    width: 90%;
    height: auto;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.551);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

.column-object-container object {
    width: 90%;
}

.column p {
    margin-right: 10px;
    margin-bottom: 40px;
    font-size: 18px;
    color: #425B5A;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
}

.column a {
    background-color: #38b16c;
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    margin-left: 43%;
    border-radius: 10px;
    transition: 0.4s;
}

.column a:hover {
    background-color: #ffffff;
    color: #38b16c;
}

.home-overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
}

.home-overlay:target {
    visibility: visible;

}

.popup2 {
    margin: 70px auto;
    color: #384348;
    padding: 20px;
    background-color: #38b16c;
    border-radius: 5px;
    width: 400px;
    position: relative;
}

.popup2 a {
    color: #ffffff;
    font-weight: normal;
}

.popup2 a:hover {
    color: #cdcdcd;
}

.popup2 .close {
    top: 10px;
    right: 20px;
    font-size: 20px;
    position: absolute;
    color: #ffffff;
    text-decoration: none;
}

.popup2 .close:hover {
    color: gray;
}

.hurry {
    color: #384348;
    font-weight: bold;
}

.slideshow {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.wrapper {
    display: flex;
    animation: slide 5s infinite;
}

.wrapper img {
    width: 100%;
    object-fit: cover;
    object-position: center;

}

@keyframes slide {
    0%

    /*is for starting position*/
        {
        transform: translateX(0);
        /*work start*/
    }

    25% {
        transform: translateX(-50%);
        /*work start*/
    }

    50% {
        transform: translateX(-100%);
        /*work start*/
    }

    75% {
        transform: translateX(-150%);
        /*work start*/
    }

    100% {
        transform: translateX(-200%);
    }
}

.bestselling-products h2 {
    text-align: center;
    color: #ffffff;
    background-color: #38b16c;
    padding: 10px;
}

.bestselling-products p {
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

.bestselling-row-container {
    display: grid;
    justify-content: center;
}

.bestselling-row {
    display: flex;
    width: 100%;
}

.bestselling-row-container a {
    text-decoration: none;
    background-color: #38b16c;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.201);
    transition: 0.3s;
    cursor: pointer;
}

.bestselling-row-container a:hover {
    background-color: #384348;
}

.bestselling-col {
    width: 200px;
    height: auto;
    display: grid;
    padding: 10px;
    background-color: rgb(205, 205, 205);
    border-radius: 20px;
    justify-content: center;
    margin: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.201);
    cursor: pointer;
    transition: 0.3s;
}

.bestselling-col:hover {
    transform: translateY(-10px);
}

.bestselling-col ul {
    list-style: none;
    text-align: left;
    font-size: 14px;
    height: 80px;
}

.bestselling-first-li {
    height: 58%;
}

.bestselling-col img {
    object-fit: contain;
    background-color: #ffffff;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}

.equipments {
    background-image: url(images/wood-panel.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-bottom: 20px;
}

.equipments h2 {
    background-color: #a01d0076;
    backdrop-filter: blur(5px);
    padding: 10px;
    color: white;
}

p.packages-intro {
    margin: 0 80px;
    padding: 10px;
    border-radius: 0 0 20px 20px;
    font-size: 20px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.312);
    backdrop-filter: blur(5px);
    text-align: center;
}

.equipments a {
    position: relative;
    color: #ffffff;
    background-color: rgba(186, 186, 186, 0.688);
    backdrop-filter: blur(10px);
    font-size: 18px;
    padding: 5px 20px;
    transition: 0.4s;
    border-radius: 5px;
}

.equipments a:hover {
    background-color: #38b16c;
    color: white;
}

.Row1 {
    display: flex;
    justify-content: center;
}

.column2 {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(186, 186, 186, 0.419);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
}

.column2-inner-container {
    text-align: center;
    background-color: #dddddd;
    border-radius: 10px;
    width: 80%;
    transition: 0.3s;
}

.column2-inner-container:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.column2-inner-container p {
    font-size: 20px;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    color: #384348;
}

.column2-inner-container img {
    border-radius: 10px;
    width: 85%;
    height: auto;
    aspect-ratio: 1/1;
    background-color: #ffffff;
    margin: 0;
    object-fit: contain;
}

.column2-inner-container ul {
    list-style: none;
    text-align: left;
    margin: 1% 0 4% 7%;
}

.MoreAboutUs {
    display: flex;
    justify-content: center;
}

.Row4 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 40px;
    width: 100%;
    overflow: hidden;
}

h2.findus {
    color: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
    clear: right;
    text-align: center;
    background-color: #38b16c;
}

.iframe-row {
    clear: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-container {
    width: 90%;
    height: 400px;
}

.map-container iframe {
    padding: 10px;
    width: 100%;
    height: 95%;
    border-radius: 20px;
    background-color: #384348;
}

/*...............Equipments & Furniture...............*/

.equip h1,
.furniture h1 {
    clear: right;
    margin: 20px;
    color: #384348;
    text-align: center;
}

.equip p,
.furniture p {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 18px;
    text-align: center;
}

.on-sale-equipments,
.on-sale-furnitures {
    display: flex;
    justify-content: center;
    text-align: center;
}

.on-sale-equipments p,
.on-sale-furnitures p {
    color: #384348;
    margin: 0 1%;
}

.on-sale-equipments-container {
    border-radius: 20px;
    width: 85%;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.on-sale-equipments-container h2 {
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0;
    background-color: #af0000;
    color: #ffffff;
    border-radius: 10px 10px 0 0;
}

.on-sale-row-container {
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.sale-col-container {
    background-color: #dddddd;
    width: 30%;
    display: flex;
    margin: 1%;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s;
}

.sale-col-container:hover {
    transform: translateY(-10px);
}

.sale-col-img-container {
    position: relative;
    margin-top: 1%;
    margin-left: 1%;
    width: 50%;
    height: auto;
}

.sale-col-container img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    background-color: #ffffff;
    border-radius: 10px;
    object-fit: contain;
}

.sale-item-detail {
    position: absolute;
    width: 100%;
    bottom: 5px;
    text-align: center;
    padding: 20px;
    background-color: #000000ac;
    display: none;
    border-radius: 0 0 10px 10px;
}

.sale-col-container:hover .sale-item-detail {
    display: block;
}

.sale-item-detail label {
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.sale-item-detail label:hover {
    color: #b3b3b3;
}

.sale-desc {
    margin-left: 1%;
    width: 50%;
    text-align: left;
}

.sale-desc ul {
    list-style: none;
    font-size: 14px;
    color: #384348;
}

.onsale-addcart {
    text-align: center;
}

.onsale-addcart button {
    margin-top: 5%;
    width: 90%;
    font-family: 'Oswald', sans-serif;
    background-color: #38b16c;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    border: none;
    transition: 0.4s;
}

.onsale-addcart button:hover {
    background-color: #af0000;
}

.catg h3 {
    display: inline-block;
    padding: 10px 40px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin-left: 10%;
}

.catg a {
    font-size: 16px;
    color: grey;
}

.catg a:hover {
    color: #38b16c;
}

.salerow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.saleimg {
    display: flex;
    width: 380px;
    height: 170px;
    margin: 10px;
    background-color: #dfdfdf;
    color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

.saleimg:hover {
    transform: translateY(-10px);
}

.saleimg img {
    margin: 5px;
    width: 97%;
    height: 160px;
    object-fit: contain;
    background-color: #ffffff;
    border-radius: 20px;
}

.desc {
    width: 50%;
    height: auto;
    aspect-ratio: 1/1;
    color: #3F5155;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
}

.addcart {
    margin-top: 5px;
    text-align: center;
}

.desc button {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    border: 0;
    padding: 10px;
    width: 90%;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
    background-color: #38b16c;
    transition: background-color 0.4s ease;
}

.desc button:hover {
    cursor: pointer;
    background-color: #af0000;
}

.desc ul {
    height: 100px;
    list-style: none;
    margin-bottom: 10px;
}

.desc li {
    font-size: 14px;
}

.seemore button {
    background-color: red;
    transition: background-color 0.4s ease;
}

.imghover-container {
    width: 50%;
    position: relative;
}

.slide-up-detail {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000ac;
    color: white;
    padding: 15px;
    display: none;
    text-align: center;
}

.saleimg:hover .slide-up-detail {
    display: block;
    margin: 5px;
    width: 180px;
    border-radius: 0 0 20px 20px;
}

.slide-up-detail label,
.slide-up-detail a {
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: 0;
    text-decoration: none;
}

.slide-up-detail label:hover,
.slide-up-detail a:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.popup-detail {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(55, 55, 55, 0.508);
    backdrop-filter: 5px blur;
}

.popup-detail:target {
    visibility: visible;
}

.popup-detail-inner-container {
    width: 80%;
    display: flex;
    border-radius: 20px;
    background-color: #e3e3e3;
}

.popup-detail-inner-container-col {
    width: 50%;
    padding: 8px;
}

.popup-detail-inner-container-col img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: 20px;
    background-color: #ffffff;
    border: 1px solid #384348;
}

.popup-detail-item-detail {

    height: 540px;
    overflow-y: scroll;
}

.popup-detail-item-name {
    font-weight: bold;
    font-size: 20px;
    border-bottom: 2px solid #384348;
}

.popup-detail-features {
    display: flex;
    border-bottom: 2px solid #384348;
}

.popup-detail-features ul {
    margin: 5px;
    margin-top: 1%;
    list-style: none;
    font-size: 18px;
}

.popup-detail-button {
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.popup-detail-button button {
    font-family: 'Oswald', sans-serif;
    border: none;
    padding: 10px 0;
    width: 40%;
    background-color: #38b16c;
    color: #ffffff;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid #ffffff;
}

.popup-detail-button button:hover {
    background-color: #af0000;
    border: 1px solid #384348;
}

.popup-detail-button a {
    width: 40%;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    color: #384348;
    border-radius: 10px;
    transition: 0.3s;
    border: 1px solid #ffffff;
}

.popup-detail-button a:hover {
    border: 1px solid #384348;
    color: #384348;
    background-color: #efefef;
}

.about-item {
    font-weight: bold;
}

.about-item ul {
    font-weight: normal;
    margin-left: 5%;
}

.Know {
    display: inline-flex;
    background-color: #384348;
    color: #ffffff;
    margin-left: 60px;
    padding: 15px;
    border-radius: 10px;
}

.essential-row {
    display: flex;
    justify-content: center;
}

.Youtube {
    text-align: center;
    width: 70%;
}

.Youtube iframe {
    margin: 20px 0;
    width: 100%;
    height: 500px;
    border-radius: 20px;
}

.eqbr {
    height: 3px;
    background-color: black;
    margin: 30px;
}

/* ................Packages............... */
.offersandpackages h1 {
    clear: both;
    margin: 20px;
    color: #384348;
    text-align: center;
}

.offersandpackages p {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 18px;
    text-align: center;
}

embed.winter-sale-img {
    width: 100%;

}

.winter-sale {
    background-color: #ffffff;
}

.winter-sale h2 {
    padding: 10px 0;
    text-align: center;
    background: rgb(120, 225, 255);
    background: linear-gradient(180deg, rgba(120, 225, 255, 1) 16%, rgba(255, 255, 255, 1) 70%);
}

.winter-sale i {
    color: #A0E3F6;
}

.winter-sale-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.winter-sale-item {
    text-align: center;
    width: 200px;
    border-left: 1px solid #384348;
    border-right: 1px solid #384348;
}

.winter-sale-item img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
    background-color: #ffffff;
    padding: 10px;
    border-bottom: 1px solid #384348;
}

.winter-sale-img-hover {
    margin-left: 9px;
    width: 180px;
    position: relative;
}

.winter-sale-slide-up-detail {
    position: absolute;
    width: 100%;
    bottom: 5px;
    text-align: center;
    padding: 20px;
    background-color: #000000ac;
    display: none;
}

.winter-sale-item:hover .winter-sale-slide-up-detail {
    display: block;
}

.winter-sale-slide-up-detail a,
.winter-sale-slide-up-detail label {
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.winter-sale-slide-up-detail a:hover,
.winter-sale-slide-up-detail label:hover {
    color: #cacaca;
}


.winter-sale-item-desc ul {
    list-style: none;
    text-align: left;
    padding: 10px;
}

.winter-sale-item-desc-1st {
    height: 70px;
    font-weight: bold;
}

.winter-sale-item button {
    font-family: 'Oswald', sans-serif;
    width: 80%;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 10px;
    background-color: #38b16c;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #384348;
}

.winter-sale-item button:hover {
    background-color: #af0000;
}

h2.h2-sale-packages {
    font-size: 28px;
    text-align: center;
    color: #ffffff;
    background-color: #af0000;
    padding: 10px;
}

.sale-package-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sale-package {
    width: 500px;
    margin: 10px;
    height: 300px;
    padding: 10px;
    border-radius: 10px;
    background-color: #cdcdcd;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.201);
    transition: 0.3s;
}

.sale-package:hover {
    transform: translateY(-10px);
}

.sale-package-row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #384348;
}

.sale-package-col,
.sale-package-col2 {
    width: 48%;
}

.sale-package-col img {
    width: 100%;
    height: 180px;
    background-color: #ffffff;
    object-fit: contain;
    border-radius: 10px;
}

.sale-package-col2 ul {
    height: 100px;
    list-style: none;
    margin: 5% 0;
}

.sale-package-price {
    font-weight: bold;
    color: red;
}

.sale-package-col2 button {
    font-family: 'Oswald', sans-serif;
    background-color: #38b16c;
    color: #ffffff;
    margin-left: 30%;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.sale-package-col2 button:hover {
    background-color: #af0000;
}

.budget-packages h2,
.minimalist-packages h2 {
    text-align: center;
    background-color: #38b16c;
    color: #ffffff;
    padding: 10px;
}

.budget-packages p,
.minimalist-packages p {
    text-align: center;
    font-size: 18px;
}

.normal-packages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.normal-package {
    width: 450px;
    margin: 10px;
    height: 280px;
    padding: 10px;
    border-radius: 10px;
    background-color: #cdcdcd;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.201);
    transition: 0.3s;
}

.normal-package:hover {
    transform: translateY(-10px);
}

.normal-package-row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #384348;
}

.normal-package-col,
.normal-package-col2 {
    width: 48%;
}

.normal-package-col img {
    width: 100%;
    height: 160px;
    background-color: #ffffff;
    object-fit: contain;
    border-radius: 10px;
}

.normal-package-col2 ul {
    height: 80px;
    list-style: none;
    margin: 1% 0;
}

.normal-package-price {
    font-weight: bold;
}

.normal-package-col2 button {
    font-family: 'Oswald', sans-serif;
    background-color: #38b16c;
    color: #ffffff;
    margin-left: 30%;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.normal-package-col2 button:hover {
    background-color: #af0000;
}

.normal-package-seemore button {
    background-color: #ffffff;
    color: #384348;
    padding: 20px;
}

/* ........................Review...................... */
.review-section h2 {
    text-align: center;
    font-size: 30px;
    color: #384348;
}

.review {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    justify-content: space-evenly;
}

.review-container {
    width: 350px;
    height: 530px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 0 5px 10px 5px;
}

.review-row1 {
    display: flex;
    height: 100px;
    align-items: center;
    border-bottom: 3px solid #384348;
}

.review-row2 {
    display: flex;
    margin: 10px 10px 5px 10px;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    height: 190px;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ececec;
}

.review-row3 {
    display: flex;
    justify-content: center;
}

.user-name {
    margin-left: 10%;
    font-weight: bold;
    font-size: 20px;
}

.review-stars {
    margin: 10px 0;
    font-size: 20px;
}

img.user-profile {
    width: 100px;
    margin-left: 3%;
}

img.review-image {
    width: 330px;
    height: 210px;
    border-radius: 0 0 10px 10px;
    border: 1px solid #384348;
    object-fit: contain;
}

.write-review {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
    background-color: #38b16c;
    height: 70px;
    align-items: center;
}

.write-review-text {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}

.write-review-button {
    text-decoration: none;
    padding: 10px 60px;
    color: #38b16c;
    background-color: #ffffff;
    font-size: 18px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.write-review-button:hover {
    cursor: pointer;
    background-color: #384348;
    color: #ffffff;
    border: none;
}

.review-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
}

.review-overlay:target {
    visibility: visible;

}

.review-popup-container {
    margin: 50px auto;
    padding-top: 10px;
    height: auto;
    background-color: #E3E0CF;
    border: 1px solid #384348;
    width: 60%;
    position: relative;
}

.review-popup-container .review-close {
    font-size: 40px;
    text-decoration: none;
    top: -10px;
    right: 20px;
    position: absolute;
    color: #384348;
}

.review-popup-container .review-close:hover {
    color: gray;
}

.popup-row {
    display: flex;
    justify-content: center;
    margin: 0 5px;
}

input.review-input {
    background-color: #ffffff;
    color: #384348;
    font-size: 14px;
    text-align: left;
    width: 100%;
    padding: 20px 0 380px 0;
}

.popup-row2 {
    display: flex;
}

.popup-row-first-col {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.popup-row-first-col input {
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
}

.popup-row-email {
    display: grid;
    font-weight: bold;
    justify-content: center;
    width: 50%;
}

.popup-row-email input {
    width: 250px;
    border-radius: 5px;
}

.review-email {
    font-weight: bold;
    font-size: 20px;
    color: #384348;
}

.popup-row3 {
    display: flex;
    margin-top: 2%;
    height: 50px;
}

.popup-row3-col1,
.popup-row3-col2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.popup-row3-col1 {
    font-size: 20px;
}

.popup-row4 {
    display: flex;
    justify-content: center;
}

.popup-row4 button {
    margin: 5px;
    padding: 10px 20px;
    width: 40%;
    cursor: pointer;
    border-radius: 10px;
    border: 0.5px solid;
    color: #ffffff;
    background-color: #38b16c;
    transition: 0.3s;
}

.popup-row4 button:hover {
    background-color: #384348;
}

/* .................Respondsive............... */
@media screen and (max-width: 700px) {

    /* ...........navigation-bar.......... */
    nav {
        height: auto;
        padding-bottom: 5px;
    }

    .nav-bar li {
        margin: 0 10px;
    }

    .nav-bar li a {
        font-size: 14px;
    }

    /* .........search-bar........... */
    .input-search input {
        padding: 5px;
    }

    .input-search ::placeholder {
        font-size: 12px;
    }

    /* ..........home.......... */
    .home-cart {
        top: 5%;
    }

    .home-cart a {
        font-size: 14px;
        padding: 8px;
    }

    .row {
        padding: 20px 0;
    }

    .column p {
        margin: 0 20px;
        margin-bottom: 20px;
        padding: 10px;
    }

    .column a {
        font-size: 14px;
        padding: 10px;
    }

    .column-img-container {
        margin-bottom: 10px;
    }

    .equct-container {
        margin-bottom: 10px;
    }

    p.packages-intro {
        margin: 0 20px;
    }

    .equipments a {
        font-size: 12px;
    }

    .column2 {
        margin-bottom: 10px;
        padding: 0;
        width: 33%;
    }

    .column2-inner-container {
        width: 100%;
    }

    .column2-inner-container p {
        font-size: 14px;
    }

    .column2-inner-container ul {
        font-size: 12px;
    }

    .bestselling-col {
        width: 33%;
    }

    .bestselling-col li {
        font-size: 10px;
        text-align: left;
        margin-left: 5%;
    }

    .bestselling-products h2,
    .equipments h2,
    h2.findus {
        font-size: 16px;
    }

    /* ......mini-cart and menu-bar........... */

    .float-container {
        top: 7%;
    }

    .cart {
        font-size: 14px;
    }

    label.shopping-cart {
        font-size: 14px;
        padding: 6px 20px;
    }

    .cart-container {
        width: 350px;
    }

    .cart-product img {
        width: 80px;
    }

    p.cart-product-name {
        width: 70px;
    }

    .menu-button {
        font-size: 14px;
        padding: 5px 20px;
    }

    .dropdown-menu {
        margin-top: 5px;
        width: 108px;
        font-size: 14px;
    }

    .dropdown-menu a {
        padding: 10px 12px;
    }

    /* ...............cart............. */
    .cart-page-container {
        width: 95%;
    }

    .cart-page-desc-title {
        font-size: 20px;
    }

    .cart-page-item-col img {
        width: 80px;
    }

    .cart-page-item-name {
        font-size: 14px;
    }

    .cart-page-price {
        font-size: 14px;
    }

    .cart-page-item-quantity i {
        font-size: 12px;
        padding: 11px 5px;
    }

    .cart-page-total {
        font-size: 20px;
    }

    .total {
        display: grid;
        justify-content: center;
    }

    .total-col {
        width: 100%;
    }

    .total-1st-col-row,
    .total-row {
        font-size: 14px;
    }

    .total-1st-col-row input {
        margin-left: 10px;
        font-size: 14px;
    }

    .cart-page-checkout a {
        width: 45%;
    }

    .cart-page-item-name {
        display: block;
    }

    /* ............equipments & furniture............ */
    p,
    .bestselling-products p,
    .equipments p,
    footer * {
        font-size: 13px;
    }

    .on-sale-equipments-container {
        width: 95%;
    }

    .sale-col-container {
        display: grid;
    }

    .sale-col-img-container {
        width: 100%;
        margin: 0;
    }

    .sale-col-img-container img {
        border: 1px solid #384348;
    }

    .sale-desc {
        width: 100%;
        margin: 0 0 0 5px;
        font-size: 12px;
    }

    .featured-packages-column {
        width: 33%;
    }

    .onsale-addcart button {
        margin-bottom: 5%;
    }

    .popup-detail-inner-container {
        display: grid;
        width: 90%;
    }

    .popup-detail-inner-container-col {
        width: 100%;
        display: grid;
        justify-content: center;
    }

    .popup-detail-inner-container-col img {
        width: 250px;
    }

    .popup-detail-item-detail {
        border-top: 1px solid #384348;
        height: 380px;
    }

    /* ............review............. */
    .write-review-text {
        font-size: 16px;
    }

    .write-review-button {
        padding: 10px 20px;
        font-size: 16px;
    }

    input.review-input {
        padding: 20px 0px 300px 0;
    }

    .review-popup-container {
        margin: 100px auto;
        width: 95%;
    }

    .popup-row i {
        font-size: 16px;
    }

    .popup-row-email input {
        width: unset;
    }

    /* ...............offersandpackages..................... */
    .winter-sale-item {
        width: 130px;
    }

    .winter-sale-img-hover {
        width: 110px;
    }
}

@media screen and (max-width: 450px) {
    .nav-bar li {
        margin: 5px;
    }

    .nav-bar li a {
        padding: 5px;
    }

    .input-search input:focus {
        width: 100%;
        background-color: #ffffff;
    }

    .column2 {
        margin: 2px;
    }

    .column2 p {
        font-size: 10px;
    }

    .popup2 {
        width: 300px;
    }

    footer {
        padding-top: 5px;
    }

    .footer-group img {
        width: 60%;
    }

    .desc li {
        font-size: 12px;
    }

    /* ....................offer&package.................. */
    .sale-package {
        height: auto;
    }

    .sale-package-col2 ul {
        font-size: 13 px;
        height: auto;
    }

    .sale-package-col2 button {
        font-size: 13px;
        padding: 8px 12px;
    }

    .sale-package-row2 {
        font-size: 13px;
    }

    .normal-package {
        height: auto;
    }

    .normal-package-col2 ul {
        height: auto;
    }
}